:root {
  --color-black: #000;
  --color-white: #fff;
  --color-text: #092032;

  --color-grey-100: #F7F8F9;
  --color-grey-200: #EBEDF1;
  --color-grey-300: #DADFE5;
  --color-grey-400: #B3BBC3;
  --color-grey-500: #858E99;
  --color-grey-600: #6A737C;
  --color-grey-700: #4C545D;
  --color-grey-800: #373D44;
  --color-grey-900: #21272B;

  --color-mint-100: #EAFBFA;
  --color-mint-400: #00C1DC;
  --color-mint-500: #00C1DC;

  --color-red-100: #FFF6F5;
  --color-red-500: #FF5147;
}
